.flex-between {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.flex-row-end {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.flex-col {
    display: flex;
    flex-flow: column nowrap;
}

.flex-col-center {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-flow: row nowrap;
}

.flex-row-center {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

* {
    margin: 0;
    padding: 0;
}

body,
html {
    width: 100%;
    height: 100%;
}

input[type='button'] {
    border: none;
    outline: none;
    /* background: inherit; */
}

.fs12 {
    font-size: 12px;
}

.fs14 {
    font-size: 14px;
}

.fsc12 {
    color: #666;
    font-size: 12px;
}

.fswhite12 {
    color: #fff;
    font-size: 12px;
}

.fsc12 span,
.fscred12 {
    color: #e4393c;
    font-size: 12px;
}

.con {
    padding: 4px 5px 10px;
    overflow: hidden;
}

.con2 {
    padding: 0 5px 10px;
    overflow: hidden;
}

.nav {
    background: #fff;
}

.con div:first-child {
    font-size: 12px;
    color: #444;
}

.con div:first-child .p,
.con2 div:first-child .p {
    width: 100%;
}

.con2 div:first-child {
    width: 50%;
    font-size: 10px;
    color: #999;
}

.con .weui_btn_plain_primary.btn,
.con2 .weui_btn_plain_primary.btn {
    margin-left: 0;
    margin-right: 0;
    font-size: 10px;
    line-height: 2.2;
    color: #e4393c;
    border: 1px solid #e4393c
}

.pregress {
    margin-top: 4px;
}

.pregress + div p span {
    color: #444;
    font-weight: 600;
}

.pregress2 {
    /* margin-top: 4px; */
    margin: 4px 6px;
}

.collectBtn {
    position: absolute;
    bottom: unset;
    top: 14px;
    box-shadow: 0 0 4px 4px rgba(152, 27, 27, 0.2);
}

.detaileBox {
    position: relative;
}


/* 立即参与的代码 */

.dec {
    position: relative;
    width: 100%;
    margin: 10px auto 0;
    padding: 30px 8px 20px;
    background: #f3f3f3;
    box-sizing: border-box;
}

.dec p {
    padding-left: 10%;
    font-size: 14px;
}

.dec .title {
    background: #e4393c;
    position: absolute;
    padding: 2px 12px;
    top: 0;
    left: 0;
    /* border-radius: 1px; */
    border-top-left-radius: 4px;
    border-bottom-right-radius: 22px;
    color: #fff;
}

.dec .jionBtn {
    /* background: #e4393c; */
    position: absolute;
    padding: 4px 8px;
    top: 40%;
    right: 20px;
    color: #fff;
}

.border {
    border: 1px solid #eee;
}

.productListWrap.hoz {
    margin: 0 1%;
    margin-bottom: 5px;
}

.weui_progress_bar {
    height: 8px;
    border-radius: 4px;
}

.weui_progress_inner_bar {
    background-color: #e4393c;
    border-radius: 4px;
}

.weui_grids:before {
    border: none;
}

.weui_grid:before {
    border-bottom: none;
    border-right: none;
}

input[type=password] {
    /* border: 1px solid #bbb; */
    border-radius: 3px;
    width: 100%;
    display: block;
}

.newGuidelinesBtn {
    width: 100%
}


/* 联系客服 */

.service {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -58%);
    text-align: center;
    background: #fff;
    z-index: 101;
}

.service .img {
    width: 60%;
    background: red;
    padding-bottom: 60%;
    margin: 10% auto;
    height: 0;
}

.service .p {
    margin-bottom: 10%;
}

.none {
    display: none;
}

.show {
    animation: myshow 2s;
    -webkit-animation: myshow 2s;
    /*Safari and Chrome*/
}

@keyframes myshow {
    from {
        display: none;
        opacity: 0.3;
    }
    to {
        display: block;
        opacity: 1;
    }
}


/*Safari and Chrome*/

@-webkit-keyframes myshow {
    from {
        display: none;
        opacity: 0.3;
    }
    to {
        display: block;
        opacity: 1;
    }
}


/* 私房弹窗 */

.priForm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: #fff;
    z-index: 101;
    overflow-y: scroll;
    color: #000;
    width: 100%;
    height: 60%;
    padding: 16px 10px;
    box-sizing: border-box;
}

.priForm .box1 {
    width: 60%;
}

.priForm .box2 {
    width: 40%;
}

.priForm .box1 > div p:nth-child(2) {
    width: 66%;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.priForm input[type='button'],
.jionBtn {
    width: 3.6rem;
    height: 1.5rem;
    /* padding: 4px 8px; */
    line-height: 1.4rem;
    border: none;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    background: url('../../../image/icon/comeIn.png') no-repeat;
    background-size: 100% 100%;
    text-align: center;
}

.priForm input[type='password'] {
    width: 76%;
    padding: 4px 0;
    border: 1px solid #e5e5e5;
    color: #000;
    text-align: center;
}

.priForm .margin {
    margin: 4px 0;
}

.priForm .border2 {
    padding: 14px 10px 18px;
    border: 1px solid #999;
}

.overhidden {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.selectBtn {
    /* position: relative; */
    background: #eee;
    height: 60px;
    line-height: 60px;
    border-radius: 5px;
    text-align: center;
    width: 44%;
    margin: 4% 3%;
}

.active {
    background: #e4393c;
    color: #fff;
}

.selectBtn .myinput {
    display: inline-block;
    width: 80%;
    height: 30px;
    margin: 15px auto;
    padding: 0 4px;
    border: none;
}

.myBtn {
    display: block;
    width: 50%;
    text-align: center;
    border: 1px solid #e4393c;
    font-size: 16px;
    color: #e4393c;
    padding: 10px;
    margin: 10% auto;
    border-radius: 6px;
}


/* 私房 */

#priView .input {
    border: none;
}

.luck-con {
    position: relative;
    width: 100%;
    height: 100%;
    /*background: url("__PUBLIC__/act/luck/images/bg.png") no-repeat;*/
    background-size: 100% 100%;
    overflow: hidden;
}

.luck-con nav {
    width: 100%;
    /* height: .9rem; */
    overflow: hidden;
    padding: 10px;
}


/* nav a {
    background-color: rgba(255, 255, 255, .3);
    color: white;
    font-size: 14px;
    padding: 4px 10px;
    border-radius: 4px;
} */

.luck-cen {
    width: 80%;
    height: 14.55rem;
    background: url('../../../image/icon/rand.png') no-repeat;
    background-size: 100% 100%;
    margin: 13% auto 0;
}

.luck-cen-gl {
    padding-top: 16%;
}

.luck-cen-gl p:first-child {
    color: #c16302;
    font-size: 14px;
}

.luck-cen-gl p:nth-child(2) {
    color: #fe2d48;
    font-size: 20px;
}

.luck-cen-btnBox {
    margin: 7% 0%;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.luck-cen-btnBox input {
    height: 3rem;
    width: 3rem;
    margin: 0 1%;
    background: url('../../../image/room-btn1.png') no-repeat;
    background-size: 100% 100%;
    border-radius: 50%;
    color: #FE2D48;
    font-weight: bold;
    text-align: center;
    position: relative;
    z-index: 2;
}

.luck-cen-btnBox .selected {
    background: url('../../../image/selected-btn.png') no-repeat;
    background-size: 100% 100%;
}

.luck-p {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    font-size: 16px;
    color: white;
}

.luck-cen-bottom {
    width: 80%;
    margin: 0 auto;
}

.luck-cen-bottom img {
    width: 3.5rem;
    height: 3.5rem;
    margin: -10% 0 10px 32%;
}

.luck-cen-bottom .prices {
    font-size: 14px;
    color: #FE2D48;
    float: left;
}

.original-price {
    font-size: 14px;
    color: #999999;
    text-decoration: line-through;
}

.luck-btn {
    width: 6rem;
    height: 1.8rem;
    margin: auto;
    border: 1px solid #fed459;
    display: block;
    background-color: #ffe382;
    color: #FE2D48;
    font-weight: bold;
    font-size: 14px;
    border-radius: 1rem;
    position: absolute;
    left: 50%;
    bottom: 6px;
    text-align: center;
    transform: translate(-50%, 0);
    z-index: 2;
}

.leftBtn,
.rightBtn {
    width: 45%;
    height: 1.6rem;
    font-size: 12px;
    color: rgb(30, 27, 236);
    text-align: center;
    line-height: 1.4rem;
    margin-bottom: 6px;
}

.leftBtn {
    background: url('../../../image/icon/comeIn1.png') no-repeat;
    background-size: 100% 100%;
}

.rightBtn {
    background: url('../../../image/icon/openDoor.png') no-repeat;
    background-size: 100% 100%;
}

.bottom_nav > a {
    height: 3rem;
}

.weui_grid_icon {
    width: 2.6rem;
    height: 2.6rem;
    margin: 0 auto;
}

.bottom_nav > a i {
    background-size: 46px;
    -webkit-background-size: 161px 46px;
    width: 23px;
    height: 23px;
}

.cancel {
    width: 40%;
    height: 2rem;
    background: url('../../../image/icon/cancel.png') no-repeat;
    background-size: 100% 100%;
}

.submit {
    width: 40%;
    height: 2rem;
    background: url('../../../image/icon/submit.png') no-repeat;
    background-size: 100% 100%;
}

.weui_dialog_ft:after {
    border: none;
}

.luckBox {
    position: fixed;
    right: 10px;
    bottom: 5rem;
    width: 5rem;
    z-index: 2;
    /* height: 2.4rem; */
}

#addcart-button {
    width: 100%;
    height: 4.6rem;
    background: url('../../../image/icon/luck.png') no-repeat;
    background-size: 100% 100%;
}

#addcart-button span {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-50%, 0);
    font-size: 12px;
    color: #fff;
    letter-spacing: 2px;
}

#appCartWrap {
    display: flex;
    width: 100%;
    padding: 0;
    background: none;
    font-weight: bold;
    font-size: 16px;
    color: black;
}

#appCartWrap a:first-child {
    display: flex;
    width: 50%;
    height: 3rem;
    font-weight: bold;
    font-size: 20px;
    color: black;
    margin-right: 8%;
    background: url('../../../image/icon/join.png') no-repeat;
    background-size: 100% 100%;
}

#appCartWrap a:nth-child(2) {
    display: flex;
    width: 30%;
    background: #fff;
    color: #fff;
    height: 4.6rem;
    background: url('../../../image/icon/luck.png') no-repeat;
    background-size: 100% 100%;
}

.listTopArrow {
    background: url('../../../image/icon/return2.png') no-repeat;
    background-size: 94% 94%;
}

.payment {
    width: 60%;
    background: url('../../../image/icon/jindou.png') no-repeat;
    background-size: 100% 100%;
    height: 60px;
    line-height: 60px;
    font-size: 22px;
    color: #0a0a0a;
}

.payment1 {
    width: 3.6rem;
    height: 1.5rem;
    line-height: 1.4rem;
    border: none;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    background: url('../../../image/icon/baowei.png') no-repeat;
    background-size: 100% 100%;
    text-align: center;
}

.pd-box-inner {
    padding: 10px;
    line-height: 3rem;
    border-bottom: 10px solid #fff;
}

.photo {
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    margin-right: 10px;
    background: #eee;
}

.weui_btn_area .weui_btn:after {
    border: none;
}

.weui_btn_area .weui_btn {
    padding: 0;
}

.gameIcon {
    background: #f8c016;
    border-radius: 50%;
}

.returnIcon {
    margin-top: -0.2rem;
    margin-left: -0.2rem;
    color: #f28c09;
    font-weight: 600;
    font-size: 24px !important;
}

#balance-payment-btn.weui_btn_primary:not(.weui_btn_disabled):active {
    background: none;
    color: #000;
}

.dataNums {
    /*background: url(../../../act/luck/images/2p.png);*/
    background: url(/public/static/image/draw/shan.gif);
    background-size: 100% 100%;
    width: 60%;
    height: 5rem;
    padding-top: 5.5%;
    left: 20%;
    transform: translate(0, -50%);
    margin-top: 25%;
}

.bgpic {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 42%;
    /*height: 15rem;*/
    z-index: 1;
}

.bgpic img {
    width: 30%;
}

#home {
    height: 100%;
    overflow: hidden;
}

#nav-bottom {
    position: absolute;
    top: inherit;
    bottom: 1rem;
}

#nav-bottom ul li:first-child {
    width: 23%;
    margin-left: 4%;
    margin-right: 3%
}

#nav-bottom ul li:nth-child(3) {
    width: 23%;
    margin-left: 3%;
    margin-right: 4%;
}

#nav-bottom ul li {
    width: 25%;
}


/* room */

.relative {
    position: relative;
}

.absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.room-p {
    width: 80%;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 600;
    color: red;
}

.room-p3 {
    width: 80%;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 600;
    color: #fff;
}


/* icon */

@font-face {
    font-family: "iconfont";
    src: url('iconfont.eot?t=1558750430512');
    /* IE9 */
    src: url('iconfont.eot?t=1558750430512#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAJ0AAsAAAAABiwAAAIqAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAo0UwE2AiQDCAsGAAQgBYRtBzEbegURBfTJfh7YbtHWxtHxqUYQ30jtXnIj6T3Hw7/7lff9ZGazmQVWUEJFDggUoqpFUK10VXXVgJJ1T+WvBYeaqrz/U8Nf6IAyLc9T35h5f8zkcl1KJSpgAesT947/Avogox5QrmtPmtQF1MWBFOBeGEVWJJE3jF3wAh8TqGatFNu6fccUmb0qEDfNlXNKISLLLF+EbsPBLF7rKM3L5h1eRd+Pv1ZFodFJ7KZDl7dftOkHZ0l60D5wMj30YDkX2DESViITxxozByTB2KRmsvkcqz74oW0DmziqWbC/zq4dANMwG/zgrRSggceaqGJi0hVEvb1cOnY5TtziSmOqbbxmcIlr169dFf3MJtA+SGvTQ4Hg/f9FP7zuX5HBp2+/g1D7IBvmo6ztDf6CdGBfNuS2tcmatHG4UffeUlW0cGDM96mGyVMWQjE5wddnJkNSLCQysxIdPWvQVWxEtcLO4z3jbkki92O5pwABGvFBY8gbJCO+RGZ+6JjyR9dIJFQnYvzCnsVxTWwlHBkXmN5g5hSla2cR1x9R3f1IeXnEXZF2E4cqL8v5A0akJbbsD1UzS5CUAnTgOfQ+wUrJ4sy5Zl7bopBNb8rnFDJhK4JGDC3A5A0YsySSwWgmKp8/QsqdN6KOnrrkFSI7Mz2o5MoBxEETB/U8yiu7B6XGmAQkkgSgA/OQ5yVgbZ5noRnL6QmpVatwBsmhmnx7Xfi7Y1DZxiacmUnf5THqu6myDA==') format('woff2'), url('iconfont.woff?t=1558750430512') format('woff'), url('iconfont.ttf?t=1558750430512') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */ url('iconfont.svg?t=1558750430512#iconfont') format('svg');
    /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.iconfanhui1:before {
    content: "\e60b";
}